.login {
  width: 100%;
  height: 90vh;

  &-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 300px) and (max-width: 1200px) {
    .login-container {
      width: unset;
    }
  }
}

.registro {
  width: 100%;
  height: 90vh;

  &-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
